flows/Allow_Validation_Only.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>ctypeconstatnt</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Git Promotion</stringValue>
        </value>
    </constants>
    <description>The flow will automate the check only check box true for all the users whose pipeline permission record has allow validation only checkbox as true</description>
    <interviewLabel>Allow Validation Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allow Validation Only</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>fetch the pipeline permission records related to the destination environment</description>
        <name>get_pipeline_permissions</name>
        <label>get pipeline permissions</label>
        <locationX>530</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_check_only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>destinationid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Regulated_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Copado_Allow_Validation_Only__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Branch_Management_Permission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>fetching the promotion details related to the step record</description>
        <name>get_promotion_details</name>
        <label>get promotion details</label>
        <locationX>255</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_pipeline_permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Destination_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Deployment__r.copado__Promotion__r.copado__Destination_Environment__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <outputAssignments>
            <assignToReference>destinationid</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_check_only</name>
        <label>update check only</label>
        <locationX>859</locationX>
        <locationY>315</locationY>
        <inputAssignments>
            <field>copado__CheckOnly__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_promotion_details</targetReference>
        </connector>
        <object>copado__Step__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>destinationid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GitPromotion</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
