flows/Auto_Check_Ready_To_Promote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Disable_Ready_to_Promote_PR_Approved_fields</name>
        <label>Disable Ready to Promote, PR Approved fields</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Pull_Requests_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.copado__Promote_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Enable_Ready_to_Promote_PR_Approved_fields</name>
        <label>Enable Ready to Promote, PR Approved fields</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Promote_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.copado__Pull_Requests_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Pull_Request_is_Approved</name>
        <label>If Pull Request is Approved</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Disable_Ready_to_Promote_PR_Approved_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Approved_PR_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_PR_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approved_Pull_Request_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Ready_to_Promote_PR_Approved_fields</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Auto Check ReadyToPromote and PR Approved fields on US when PR is reviewed and Approved</description>
    <interviewLabel>Auto Check Ready To Promote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Check Ready To Promote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get PR details with status is Merged</description>
        <name>Approved_Pull_Request_details</name>
        <label>Approved Pull Request details</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Pull_Request_is_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Pull_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approved_Pull_Request_details</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
