flows/Auto_Check_Promote_Deploy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Auto_Check_Promote_Deploy_PR_Approved_fields_on_US</name>
        <label>Auto Check Promote &amp; Deploy, PR Approved fields on US</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Promote_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.copado__Pull_Requests_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ByPassPRValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Disable_ByPass</name>
        <label>Disable ByPass</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.ByPassPRValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Disable_PRRequired_Enable_ByPass</name>
        <label>Disable PRRequired, Enable ByPass</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.PR_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ByPassPRValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Enable_PR_Required_Checbox</name>
        <label>Enable PR Required Checbox</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.PR_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_new_PR_is_Approved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_new_PR_is_Approved</name>
        <label>Check if new PR is Approved</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Disable_ByPass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Approved_PR_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_PR_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Check_Promote_Deploy_PR_Approved_fields_on_US</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Destination_Env_Requires_PR</name>
        <label>Is Destination Env Requires PR</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Disable_PRRequired_Enable_ByPass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>PR_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarIsPRRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_PR_Required_Checbox</targetReference>
            </connector>
            <label>PR Required</label>
        </rules>
    </decisions>
    <description>Auto Check Promote&amp;Deploy and PR Approved fields on US when PR is reviewed and Approved</description>
    <interviewLabel>Auto Check Promote&amp;Deploy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Check Promote&amp;Deploy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Destination_Environment</name>
        <label>Get Destination Environment</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Destination_Env_Requires_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDestinationId</elementReference>
            </value>
        </filters>
        <object>copado__Environment__c</object>
        <outputAssignments>
            <assignToReference>VarIsPRRequired</assignToReference>
            <field>RequiresPR__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pipeline_Connection_Record</name>
        <label>Get Pipeline Connection Record</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Destination_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputAssignments>
            <assignToReference>VarDestinationId</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pipeline_Connection_Record</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VarDestinationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarIsPRRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
