flows/BlockBackPromote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Checkbox_True_Validation</name>
        <label>Checkbox True Validation</label>
        <locationX>308</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Record.Block_Save__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_access</name>
        <label>Check access</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Checkbox_True_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User doesn&apos;t have access</defaultConnectorLabel>
        <rules>
            <name>If_user_has_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pipeline_Permission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>If user has access</label>
        </rules>
    </decisions>
    <description>Dev should have access to their dev org only to do back promote</description>
    <interviewLabel>BlockBackPromote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BlockBackPromote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pipeline_Permission</name>
        <label>Pipeline Permission</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Allow_Deployments__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Branch_Management_Permission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pipeline_Permission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Back_Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
