flows/Check_the_PR_is_out_dated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_status_to_Outdated</name>
        <label>Set status to Outdated</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outdated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_the_new_PR_is_Outdated</name>
        <label>Check the new PR is Outdated</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Outdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Outdated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Request_Number__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.copado__User_Story__r.Latest_PR_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_Outdated</targetReference>
            </connector>
            <label>Outdated</label>
        </rules>
    </decisions>
    <interviewLabel>***Check the PR is out dated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>***Check the PR is out dated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_new_PR_is_Outdated</targetReference>
        </connector>
        <object>copado__Pull_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
