flows/Copado_Step_Before_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check if the step is being created on the deployment record which was created through promotion record or through manual deployment record creation</description>
        <name>Deployment_Type</name>
        <label>Deployment Type</label>
        <locationX>1172</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Manual Deployment</defaultConnectorLabel>
        <rules>
            <name>Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Deployment__r.copado__Promotion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Promotion</targetReference>
            </connector>
            <label>Promotion</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_CheckOnly_gets_Modified</name>
        <label>if CheckOnly gets Modified</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>isChanged is False</defaultConnectorLabel>
        <rules>
            <name>is_Changed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__CheckOnly__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Step_Creation_0_0</targetReference>
            </connector>
            <label>isChanged True</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the user has access to create the step based on allow deployment check box and step types</description>
        <name>Step_Type_Check</name>
        <label>Step Type Check</label>
        <locationX>710</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Deployment User</defaultConnectorLabel>
        <rules>
            <name>Other_Step_Types_for_Validate_Only_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Git Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowdeployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Deployment__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__CheckOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Step_Creation</targetReference>
            </connector>
            <label>Other Step Types for Validate Only User</label>
        </rules>
        <rules>
            <name>Git_Promotion_Step_for_Validate_Only_User_CheckOnly_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowdeployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Git Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Deployment__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__CheckOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Step_Creation_0</targetReference>
            </connector>
            <label>Git Promotion Step for Validate Only User CheckOnly is False</label>
        </rules>
        <rules>
            <name>Git_Promotion_Step_for_Validate_Only_User_CheckOnly_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Git Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Deployment__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowdeployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__CheckOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_CheckOnly_gets_Modified</targetReference>
            </connector>
            <label>Git Promotion Step for Validate Only User CheckOnly is True</label>
        </rules>
        <rules>
            <name>No_Access_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Record_Creation</targetReference>
            </connector>
            <label>No Access user</label>
        </rules>
    </decisions>
    <description>Check if the user has access to create the deployment steps</description>
    <interviewLabel>Copado-Step Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado-Step Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>fetch pipeline permission details</description>
        <name>Fetch_Pipeline_Permission</name>
        <label>Fetch Pipeline Permission</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>envionid</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Deployment__r.OwnerId</elementReference>
            </value>
        </filters>
        <object>copado__Branch_Management_Permission__c</object>
        <outputAssignments>
            <assignToReference>allowdeployment</assignToReference>
            <field>copado__Allow_Deployments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <field>copado__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>fetch Promotion details</description>
        <name>Fetch_Promotion</name>
        <label>Fetch Promotion</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Pipeline_Permission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Destination_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Deployment__r.copado__Promotion__r.copado__Destination_Environment__c</elementReference>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <outputAssignments>
            <assignToReference>envionid</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Stop_Record_Creation</name>
        <label>Stop Record Creation</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Copado_Block_Step__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Validate only user and step type is not Git Promotion</description>
        <name>Stop_Step_Creation</name>
        <label>Stop Step Creation</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Copado_Block_Step__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Validate only user and step type is not Git Promotion</description>
        <name>Stop_Step_Creation_0</name>
        <label>Stop Step Creation</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Copado_Block_Step__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Validate only user and step type is not Git Promotion</description>
        <name>Stop_Step_Creation_0_0</name>
        <label>Stop Step Creation</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Copado_Block_Step__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deployment_Type</targetReference>
        </connector>
        <object>copado__Step__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allowdeployment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationorgname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>envionid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>environmentname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
