flows/Copado_Step_Record_Creation_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check for the Type of Step created</description>
        <name>Check_for_the_Git_Step_Type</name>
        <label>Check for the Git Step Type</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stop_step_creation_for_Non_Git_Promotion_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Git Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>destinationvarid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Step_Record_Creation</targetReference>
            </connector>
            <label>Stop step creation for Non Git Promotion Records</label>
        </rules>
        <rules>
            <name>Allow_Step_Creation_for_Git_Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Git Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>destinationvarid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allow_Validation_Only_0</targetReference>
            </connector>
            <label>Allow Step Creation for Git Promotion</label>
        </rules>
    </decisions>
    <description>The flow checks whether the user has access to create a step records</description>
    <interviewLabel>Copado- Step C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado- Step Record Creation Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_deployment_record_details</name>
        <label>get deployment record details</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PipelineConnections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Deployment__r.copado__Source_Environment__c</elementReference>
            </value>
        </filters>
        <object>copado__Deployment__c</object>
        <outputAssignments>
            <assignToReference>sourceid</assignToReference>
            <field>copado__Source_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Fetch the Pipeline permission for the destination environment</description>
        <name>Get_Pipeline_Permission_details</name>
        <label>Get Pipeline Permission details</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_the_Git_Step_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>destinationvarid</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Deployment__r.Owner:User.Id</elementReference>
            </value>
        </filters>
        <object>copado__Branch_Management_Permission__c</object>
        <outputAssignments>
            <assignToReference>destinationvarid</assignToReference>
            <field>copado__Allow_Deployments__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PipelineConnections</name>
        <label>PipelineConnections</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pipeline_Permission_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceid</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputAssignments>
            <assignToReference>destinationvarid</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>The Step makes Check only field always true</description>
        <name>Allow_Validation_Only_0</name>
        <label>Allow Validation Only</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>copado__CheckOnly__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Donot allow step creation for steps other than Step type-GIT PROMOTION</description>
        <name>Block_Step_Record_Creation</name>
        <label>Block Step Record Creation</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Copado_Block_Step__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_deployment_record_details</targetReference>
        </connector>
        <object>copado__Step__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>deploymentcheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationvarid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
