flows/Copado_User_Story_Before_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Disable_Ready_to_Promote_Checkbox</name>
        <label>Disable Ready to Promote Checkbox</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Promote_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Enable_Ready_to_Promote_checkbox</name>
        <label>Enable Ready to Promote checkbox</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Promote_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Enable_stop_index_Metadata_and_exclude_CBM</name>
        <label>Enable stop index Metadata and exclude CBM</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Stop_Indexing_Metadata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.copado__Exclude_From_CBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_User_Access</name>
        <label>Check User Access</label>
        <locationX>974</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Deployment Allowed User</defaultConnectorLabel>
        <rules>
            <name>Validate_Only_User_and_No_Access_User</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowdeploymentid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_the_User_story_Update</targetReference>
            </connector>
            <label>Validate Only User and No Access User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Story_Status</name>
        <label>Check User Story Status</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.copado_userstory_status_prod</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.copado__Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_stop_index_Metadata_and_exclude_CBM</targetReference>
            </connector>
            <label>Production</label>
        </rules>
        <rules>
            <name>UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.copado_userstory_status_uat</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.copado__Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Ready_to_Promote_checkbox</targetReference>
            </connector>
            <label>UAT</label>
        </rules>
        <rules>
            <name>Uncheck_Ready_to_Promote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.copado_userstory_status_uat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.copado__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_Ready_to_Promote_Checkbox</targetReference>
            </connector>
            <label>Uncheck Ready to Promote</label>
        </rules>
        <rules>
            <name>Promote_and_Deploy_made_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Promote_and_Deploy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Pipeline_Connection</targetReference>
            </connector>
            <label>Promote and Deploy made TRUE</label>
        </rules>
    </decisions>
    <description>Enables &apos;Ready to Promote&apos; checkbox if the User story is in UAT and Enables &apos;Sop indexing metadata&apos;, &apos;Exclude from CBM&apos; checkboxes when User story deploys to Production.</description>
    <interviewLabel>Copado - User Story Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado - User Story Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Pipeline_Connection</name>
        <label>Fetch Pipeline Connection</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Pipeline_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Org_Credential__r.copado__Environment__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputAssignments>
            <assignToReference>destinationenvarid</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Pipeline_Permissions</name>
        <label>Fetch Pipeline Permissions</label>
        <locationX>974</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>destinationenvarid</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>copado__Branch_Management_Permission__c</object>
        <outputAssignments>
            <assignToReference>allowdeploymentid</assignToReference>
            <field>copado__Allow_Deployments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <field>copado__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Stop_the_User_story_Update</name>
        <label>Stop the User story Update</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Block_Save__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Story_Status</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allowdeploymentid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationenvarid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
