flows/External_ID_field_populate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Field_Empty_Check</name>
        <label>Field Empty Check</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_19_03__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_external_Id</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <formulas>
        <name>ExternalIdbuild</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&apos;_&apos;+{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>External ID field populate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>External ID field populate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_external_Id</name>
        <label>Update external Id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>External_19_03__c</field>
            <value>
                <elementReference>ExternalIdbuild</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Field_Empty_Check</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
