flows/new_Promotions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check if the User has access to create promotion records to Destination Environment</description>
        <name>User_Access_Check</name>
        <label>User Access Check</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Stop_Record_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Access</defaultConnectorLabel>
        <rules>
            <name>Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Has Access</label>
        </rules>
    </decisions>
    <interviewLabel>new Promotions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>new Promotions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the Pipeline Permission records for the User in the Destination Environment.</description>
        <name>Fetch_Pipeline_Permissions</name>
        <label>Fetch Pipeline Permissions</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Access_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Destination_Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <object>copado__Branch_Management_Permission__c</object>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <field>copado__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>The Block save checkbox is made true to trigger validation rule to prevent Promotion record creation</description>
        <name>Stop_Record_Creation</name>
        <label>Stop Record Creation</label>
        <locationX>308</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Copado_Block_Save__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Pipeline_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Destination_Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>stores user id from Pipeline Permission Object</description>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
