flows/PR_Creation_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Allow_PR_creation</name>
        <label>Allow PR creation</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Block_Save</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>donot allow</defaultConnectorLabel>
        <rules>
            <name>Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isvalidated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apexpassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Allow</label>
        </rules>
    </decisions>
    <interviewLabel>PR Creation Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PR Creation Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>user_story_deatils</name>
        <label>user story deatils</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allow_PR_creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputAssignments>
            <assignToReference>apexpassed</assignToReference>
            <field>copado__Apex_Tests_Passed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isvalidated</assignToReference>
            <field>is_Validated__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Block_Save</name>
        <label>Block Save</label>
        <locationX>308</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>block_save__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>user_story_deatils</targetReference>
        </connector>
        <object>copado__Pull_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>apexpassed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isvalidated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
