flows/Prevent_promote_and_deploy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check the User access</description>
        <name>User_Access_Check</name>
        <label>User Access Check</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Deploy Access User</defaultConnectorLabel>
        <rules>
            <name>Validate_Only_user_and_No_access_user</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>deploymenyid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restrict_the_User_Story_Update</targetReference>
            </connector>
            <label>Validate Only user and No access user</label>
        </rules>
    </decisions>
    <description>Restricting the  Ready to Promote and Promote and Deploy check boxes in User Story</description>
    <interviewLabel>Prevent promote and deploy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado-US Promote And Deploy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Pipeline Permissions with respect to Destination environment and User</description>
        <name>Fetch_Pipeline_Permissions</name>
        <label>Fetch Pipeline Permissions</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Access_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>destincredid</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>copado__Branch_Management_Permission__c</object>
        <outputAssignments>
            <assignToReference>deploymenyid</assignToReference>
            <field>copado__Allow_Deployments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <field>copado__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Pipeline Connection details with respect to Source Environment</description>
        <name>get_Pipeline_connection_details</name>
        <label>Fetch Pipeline connection details</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Pipeline_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Org_Credential__r.copado__Environment__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputAssignments>
            <assignToReference>destincredid</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>User story update is restricted through a Validation Rule in User story Object</description>
        <name>Restrict_the_User_Story_Update</name>
        <label>Restrict the User Story Update</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Block_Save__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Pipeline_connection_details</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>copado__Promote_and_Deploy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>deploymenyid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destincredid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
