flows/SendUrlTo_Octopus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_to_OctopusTeam</name>
        <label>SendEmail to OctopusTeam</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!URL_to_Octopus}   Use this URL and trigger the deployment from Octopus. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>saivenkatesh.ayyagari@blue5green.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Webhook URL is ready, please trigger it from Octopus</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>SendEmailToOctopus</name>
        <label>SendEmailToOctopus</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Warning_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeploymentRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail_to_OctopusTeam</targetReference>
            </connector>
            <label>SendEmail</label>
        </rules>
    </decisions>
    <interviewLabel>SendUrlTo Octopus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendUrlTo Octopus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDeploymentRecords</name>
        <label>GetDeploymentRecords</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailToOctopus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>promotionRecordId</elementReference>
            </value>
        </filters>
        <object>copado__Deployment__c</object>
        <outputAssignments>
            <assignToReference>DeploymentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetPromotionRecord</name>
        <label>GetPromotionRecord</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeploymentRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <outputAssignments>
            <assignToReference>promotionRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(115, 221, 39); font-size: 14px;&quot;&gt;Webhook URL from the latest deployment record was sent to the Octopus team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Alert</name>
        <label>Warning Alert</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoDeployments</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(160, 64, 105); font-size: 14px;&quot;&gt;Please create a deployment record to generate the WebhookURL.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPromotionRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>URL_to_Octopus</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://api.backend.copado.com/json/v1/webhook/deploy/{!DeploymentRecordId}?api_key={USER_API_KEY}</text>
    </textTemplates>
    <variables>
        <name>DeploymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>promotionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
