flows/SG_Validate_Pipeline_Permissions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Checkbox_True_Validation</name>
        <label>Checkbox True Validation</label>
        <locationX>432</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>$Record.Block_Save__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_access</name>
        <label>Check access</label>
        <locationX>703</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Checkbox_True_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User doesn&apos;t have access</defaultConnectorLabel>
        <rules>
            <name>If_user_has_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pipeline_Permission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>If user has access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Regulated_Environment</name>
        <label>Is Regulated Environment</label>
        <locationX>737</locationX>
        <locationY>151</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PipConRecord.copado__Destination_Environment__r.Regulated_Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pipeline_Permission</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SG_Validate Pipeline Permissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SG_Validate Pipeline Permissions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PipConRecord</name>
        <label>Get PipConRecord</label>
        <locationX>551</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Regulated_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Source_Environment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pipeline_Permission</name>
        <label>Pipeline Permission</label>
        <locationX>916</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Allow_Deployments__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PipConRecord.copado__Destination_Environment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Branch_Management_Permission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>104</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_PipConRecord</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VarDestinationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
