flows/step_check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_deployment_type</name>
        <label>Check deployment type</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>get_promotion_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_deployment_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Deployment__r.copado__Promotion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Manual deployment creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_User_access</name>
        <label>check the User access</label>
        <locationX>440</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stop_step_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Git Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowdeployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Deployment__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>stop_the_step_creation</targetReference>
            </connector>
            <label>stop step creation</label>
        </rules>
        <rules>
            <name>Allow_check_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowdeployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Git Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Deployment__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_only_true</targetReference>
            </connector>
            <label>Allow check only</label>
        </rules>
    </decisions>
    <interviewLabel>step check only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado-Step Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_pipeline_Permissions</name>
        <label>Get pipeline Permissions</label>
        <locationX>440</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_the_User_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>envionid</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Deployment__r.OwnerId</elementReference>
            </value>
        </filters>
        <object>copado__Branch_Management_Permission__c</object>
        <outputAssignments>
            <assignToReference>allowdeployment</assignToReference>
            <field>copado__Allow_Deployments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <field>copado__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_promotion_details</name>
        <label>get promotion details</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_pipeline_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Destination_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Deployment__r.copado__Promotion__r.copado__Destination_Environment__c</elementReference>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <outputAssignments>
            <assignToReference>envionid</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>check_only_true</name>
        <label>check only true</label>
        <locationX>440</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>copado__CheckOnly__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>stop_the_step_creation</name>
        <label>stop the step creation</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Copado_Block_Step__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_deployment_type</targetReference>
        </connector>
        <object>copado__Step__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allowdeployment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationorgname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>envionid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>environmentname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
