flows/stopindex.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>stopindex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>stopindex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Environment</name>
        <label>Get Environment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDestinationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related</name>
        <label>Get related</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Source_Environment__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputAssignments>
            <assignToReference>VarDestinationId</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VarDestinationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
