flows/Update_the_user_story_fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_the_updates_work_to_user_story</name>
        <label>Assign the updates work to user story</label>
        <locationX>463</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>Get_the_User_story_id.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_records.agf__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_User_story_id.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_User_story_id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_user_story</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update the user story {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update the user story fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_records</name>
        <label>Get the records</label>
        <locationX>148</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_User_story_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__ADM_Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_User_story_id</name>
        <label>Get the User story id</label>
        <locationX>314</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_updates_work_to_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agile_Accelerator_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_user_story</name>
        <label>Update the user story</label>
        <locationX>469</locationX>
        <locationY>460</locationY>
        <inputReference>Get_the_User_story_id</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_the_records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VarId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
