flows/User_story_creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_the_values</name>
        <label>Assign the values</label>
        <locationX>273</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>Userstorycreate.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.agf__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userstorycreate.copado__Sprint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.agf__Sprint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userstorycreate.copado__Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.agf__Release__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userstorycreate.Agile_Accelerator_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_variable_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_variable_assignment</name>
        <label>Record variable assignment</label>
        <locationX>444</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>Userstorycreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Userstorycreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>User story creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User story creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_records</name>
        <label>Create records</label>
        <locationX>584</locationX>
        <locationY>439</locationY>
        <inputReference>Userstorycreation</inputReference>
    </recordCreates>
    <start>
        <locationX>51</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Assign_the_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>agf__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>agf__ADM_Work__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2021-02-12</startDate>
            <startTime>12:40:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Userstorycreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>Userstorycreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
