flows/ValidateUserPermissionsForPromotion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Checkbox_True_Validation</name>
        <label>Checkbox True Validation</label>
        <locationX>182</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>$Record.Block_Save__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_access</name>
        <label>Check access</label>
        <locationX>50</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Checkbox_True_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User doesn&apos;t have access</defaultConnectorLabel>
        <rules>
            <name>If_user_has_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pipeline_Permission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>If user has access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Regulated_Environment</name>
        <label>Is Regulated Environment</label>
        <locationX>248</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pipline_Environment.Regulated_Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pipeline_Permission</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>ValidateUserPermissionsForPromotion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidateUserPermissionsForPromotion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pipeline_connection_record</name>
        <label>Get Pipeline connection record</label>
        <locationX>248</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pipline_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Source_Environment__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputAssignments>
            <assignToReference>VarDestinationID</assignToReference>
            <field>copado__Destination_Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pipline_Environment</name>
        <label>Get Pipline Environment</label>
        <locationX>248</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Regulated_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDestinationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pipeline_Permission</name>
        <label>Pipeline Permission</label>
        <locationX>50</locationX>
        <locationY>613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Allow_Deployments__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDestinationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Branch_Management_Permission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pipeline_connection_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarDestinationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
